!!!
html(lang="en")

  head

    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montaga", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Fenix", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Vollkorn", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic", type="text/css")

    script(href="prefixfree.min.js")
    title Curriculum Vitae of Francesco Occhipinti

  body

    #name i'm francesco

    .section
      .title nice to meet you,

      .content.

        i am a developer passionate about free software, data
        visualisation and functional programming

    .section
      .title my story

      .content.

        i studied computer science thoroughly during my years of
        university. i worked as a developer on the whole stack and
        with different technologies and focuses. i covered different
        roles before freelancing, then roles became less and less
        adequate to describe my work. besides software, i care about
        developing meaningful and personal communication channels with
        my team and the users

    .section
      .title how i work

      .content.

        i am a fan of simplicity and essentiality. i always try to
        clarify problems before, around and beyond the software i
        write. i also care a lot about having an open attitude,
        sharing and contributing to free software.
        
        i often relied on evolutionary prototyping as a methodology to
        bridge conflicting project goals while involving the users as
        early as possible in the development process

    .section

      .title.

       some dates

      .content

        table.chronology
          tr
            td.desc: b freelancing
            td.date since 2015
          tr
            td(colspan=2).detail
              p.
               evolutionary prototyping, emergency management, distributed systems, offline apps
          tr
            td.desc: b full stack, innovation developer at sourcefabric
            td.date 2014
          tr
            td.desc: b data vis and frontend developer at deltamethod
            td.date 2013
          tr
            td.desc: b backend developer at dada.net
            td.date 2011 — 2012
          tr
            td.desc.
              <b>master degree in computer engineering</b>, at
              pisa university, 108/110
            td.date 2006 — 2010
          tr
            td(colspan=2).detail
              p.
               networking & multimedia
          tr
            td.desc.
              <b>linux system administration course</b> at ephestus,
              in catania
            td.date 2006
          tr
            td.desc.
              <b>bachelor degree in computer engineering</b>, at
              pisa university, 110/110
            td.date 2001 — 2005
          tr
            td(colspan=2).detail
              p.
               software engineering fundamentals
    .section

      .title some languages

      .content

        ul.tech
          li javascript
          li haskell
          li python
          li purescript
          li ⋯

    .section

      .title some frameworks

      .content

        ul.tech

          li d3
          li react
          li django
          li bacon
          li bootstrap
          li ⋯

    .section

      .title other technology

      .content
        ul.tech
          li bash
          li postgres
          li couch
          li make
          li sentry
          li paper
          li empathy
          li ⋯

    .section
        .title knowledge of languages
        .content
          table.languages
            tr
              td: b english
              td → fluent
            tr
              td: b deutsch
              td → anfänger
            tr
              td: b español
              td → principiante

    .section

      .title contacts
      .content
        table.info
          tr
            td f.occhipinti+resume@gmail.com
            td twitter.com/liberalogica
          tr
            td t.me/liberalogica (telegram)
            td +39 327 89 22 715 — asynchronous communication is preferred
          tr
            td github.com/danse
            td 


