!!!
html(lang="en")

  head

    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montaga", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Fenix", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Vollkorn", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic", type="text/css")

    script(href="prefixfree.min.js")
    title Curriculum Vitae of Francesco Occhipinti

  body

    #name Francesco Occhipinti
    .section
      .title introducing myself
      .content.
        I am a developer passionate about free software, data
        visualisation and functional programming
    .section
      .title experience
      .content.
        I studied computer science thoroughly during my years of
        university. I worked as backend developer on a transaction
        infrastructure, as frondend developer specialised in data
        visualisation, and as a full stack developer building a whole
        application from the wireframes to the services. Since when i
        started freelancing, roles became less and less adequate to
        describe my work
    .section
      .title work methodology
      .content.
        I am a fan of simplicity and essentiality. I always try to
        clarify problems before, around and beyond the software i
        write. I also care a lot about having an open attitude,
        sharing and contributing to free software
    .section
      .title chronology
      .content
        table.chronology
          tr
            td.desc: b Freelancing
            td.date since 2015
          tr
            td.desc: b Full stack, innovation developer at Sourcefabric
            td.date 2014
          tr
            td.desc: b Data vis and frontend developer at Deltamethod
            td.date 2013
          tr
            td.desc: b Backend developer at Dada.net
            td.date 2011 — 2012
          tr
            td.desc.
              <b>Master degree in Computer Engineering</b>, at
              Pisa University
            td.date 2006 — 2010
          tr
            td(colspan=2).detail
              p.
                Final score: 108/110
          tr
            td.desc.
              <b>Linux system administration course</b> at Ephestus,
              in Catania
            td.date 2006
          tr
            td.desc.
              <b>Bachelor degree in Computer Engineering</b>, at
              Pisa University
            td.date 2001 — 2005
          tr
            td(colspan=2).detail
              p.
                Final score 110/110
    .section
      .title languages
      .content
        ul.tech
          li javascript
          li haskell
          li python
          li purescript
          li ⋯
    .section
      .title frameworks
      .content
        ul.tech
          li d3
          li react
          li django
          li bacon
          li bootstrap
          li ⋯
    .section
      .title other
      .content
        ul.tech
          li bash
          li postgres
          li couch
          li make
          li sentry
          li paper
          li empathy
          li ⋯
    .section
      //
        .title knowledge of languages
        .content
          table.languages
            tr
              td: b English
              td → fluent
            tr
              td: b German
              td → beginner
    .section
      .title general information and contacts
      .content
        table.info
          tr
            td Born on the 23rd of July, 1982
            td Location independent
          tr
            td https://github.com/danse
            td f.occhipinti@gmail.com
          tr
            td https://twitter.com/liberalogica
            td +49 (0) 176 315 66258      
